@charset "utf-8";
/* CSS Document */

   body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
}
body {
	background-color: #F0F0F0;
	margin-left: 8px;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}
header{
	padding:16px;
	font-size:18px;
	font-weight:bold;
	border-bottom:1px rgba(0,0,0,0.05) solid;
}
header .info{
	padding:16px;
	font-size:10px;
	font-weight: normal;
	border-bottom:1px rgba(0,0,0,0.05) solid;
	background-color:rgba(0,0,0,0.1);
	white-space:pre-wrap;
}

footer{
	padding:16px;
	font-size:18px;
	font-weight:bold;
	border-top:1px rgba(0,0,0,0.05) solid;
}

.main{
	padding:16px;
	font-size:16px;
	font-weight: normal;
}
